<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../static/style.css" rel="stylesheet">
</head>

<body>
    <div class="Header">
        <h1>Valgkamp</h1>
    </div>

    <div class="Content">
        <form action="/kandidater" method="get">
            <label for="klasse">Choose your class:</label>
            <select name="klasse" id="klasse">
                <option value="IMIT">IMIT</option>
                <option value="IMMP">IMMP</option>
                <option value="IMSTIT">IMSTIT</option>
                <option value="IMSTMP">IMSTMP</option>
            </select>
            <button type="submit">Submit</button>
        </form>
        {% for klasse in kandidater %}
           <div class="Klasse">
                <h2>{{ klasse }}</h2>
           
            {% for kandidat in kandidater[klasse] %}
                <div class="Kandidat">
                    <button>{{ kandidater[klasse][kandidat]["name"] }}</button>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
    </div>
</body>

</html>
