{% extends "base.html" %}

{% block content %}
    <div class="container block">
        <h5 class="title is-5 has-text-centered">
            Skriv inn koden du har fått utdelt
        </h5>
        <form action="/vote" method="get" class="">
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    <input type="text" name="id" class="input is-info">
                </p>
                <p class="control">
                    <button class="button is-light" type="submit">
                        Gå til stemming
                    </button>
                </p>
            </div>
        </form>
    </div>
{% endblock %}