{% extends "base.html" %}

{% block content %}
    <div class="container is-fluid has-text-centered">
        <h3 class="title is-3 block">Her er dine valgmuligheter for klasse {{ klasse }}!</h3>
        <div id="valgBtns" class="field is-grouped is-grouped-centered buttons">
            {% for kandidat in kandidater %}
                <button class="button" id="{{ kandidat }}" onclick="selection(this, exclusive=true)">{{ kandidater[kandidat]["name"] }}</button>
            {% endfor %}
        </div>
        <div class="field is-grouped is-grouped-centered mt-4 buttons is-flex">
            <button class="button is-link is-align-self-center is-flex" onclick="vote_event('{{ id }}')">
                Avgi stemme
            </button>
            <button class="button is-danger" onclick="vote_event('{{ id }}', blank=true)">
                Stem blankt
            </button>
        </div>
    </div>
{% endblock %}